global:
  scrape_interval: 10s
  evaluation_interval: 10s
scrape_configs:
  - job_name: "node"
    scrape_interval: "15s"
    static_configs:
      - targets:
        - node_exporter:9100
#  - job_name: 'snmp'
#    params:
#      module: [default]
#    static_configs:
#      - targets:
#        - 172.16.22.109
#    relabel_configs:
#      - source_labels: [__address__]
#        target_label: __param_address
#      - source_labels: [__param_address]
#        target_label: instance
#      - target_label: __address__
#        replacement: snmp_exporter:9116  # SNMP exporter.
